<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="Soap11Binding">
          <textMessageEncoding messageVersion="Soap11" />
          <security authenticationMode="MutualCertificate"
                    enableUnsecuredResponse="true"
                    messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
          <!--<httpsTransport />-->
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust" 
                              revocationMode="NoCheck" 
                              trustedStoreLocation="CurrentUser" />
              <defaultCertificate storeLocation="CurrentUser"
                                  storeName="My"
                                  x509FindType="FindBySubjectName"
                                  findValue="myAlias" />
            </serviceCertificate>
            <clientCertificate storeLocation="CurrentUser"
                               storeName="My"
                               x509FindType="FindBySubjectName"
                               findValue="myAlias" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <!-- https://localhost:44301/HelloWorld.svc -->
      <!-- http://192.168.20.106:8080/WssX509Test/services/hello_world -->
      <!-- http://localhost:54750/HelloWorld.svc -->
      
      <endpoint address="http://192.168.20.106:8080/WssX509Test/services/hello_world"
                name="CustomBinding_IHelloWorld"
                binding="customBinding"
                bindingConfiguration="Soap11Binding"
                contract="CertificateTest.IHelloWorld"
                behaviorConfiguration="ClientCertificateBehavior">
        <identity>
          <dns value="myAlias" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>